:root{
    --main-dialog-color:rgba(255, 255, 255,0.85);
}

html{
    height:100%;
}

body{
    background-color:#7fffd4;
    background-image:url(../img/chapeu_pintado.png);
    background-size:400px;
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    
}

.titulo{
    text-shadow:#000000 2px 5px 0;
    display:inline-block;
    width: fit-content;
    margin: auto 0;
}

.titulo:hover{
    transform: translate(3px,3px);

}

ul{
    font-size: 24px;
    position: absolute;
    right:1vw;
    top:2vh;
}

.lista-social{
    display:inline-block;        
}

.lista-social a{
    color:rgb(94, 51, 51);

}

.lista-social:first-child{
    margin-right:10px;

}

.lista-social a:hover{
    color:rgba(94, 51, 51, 0.35);

}

header{
    font-family: 'Bangers', cursive;
    position:relative;
    text-align:center;
    font-size: 80px;
    color:rgb(94, 51, 51);
    padding:50px 0 0 0;
}

.container{
    margin: 5% 10% 40px;
    flex:1;
    
}

#container-intro{
    height:180px;
    width: 650px;
    border:solid black 1px;
    margin:5% auto 0;
    padding:35px;
    text-align: center;
    box-shadow: 1px 1px 10px 2px black;
    border-radius:2px;
    background-color: var(--main-dialog-color);
    font-size:20px;
    color:rgb(94, 51, 51);   
}

.game-over
{
    height:180px;
    width: 650px;
    border:solid black 1px;
    margin:20% auto 0;
    padding:35px;
    text-align: center;
    box-shadow: 1px 1px 10px 2px black;
    border-radius:2px;
    background-color: var(--main-dialog-color);
    font-size:20px;    
}

#container-intro h2{
    margin-bottom:20px;
}

#container-intro p{
    margin-bottom:20px;

}

.botao{
    height:40px;
    width: 100px;
    border:solid black 2px;
    border-radius:8px;
    color:rgb(94, 51, 51);
    font-weight: bold;


}

.botao:hover{
    cursor: pointer;
}

.botao:active{
    transform: translate(1px,1px);
}



#container-choice{
    text-align:center;
}

.container-choice-interno{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height:30vh;
    

}

#container-choice h2{
    margin:5vh 0;
    font-size:20px;
    font-weight: bold;

}

.container-choice-interno-char{
    width: 250px;
    height: 225px;
    height:fit-content;
    margin:15px;
}

.link-char:visited{
    color: black;
    font-weight: bold;
}


.link-char{    
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height:100%;
    color:black;
    font-weight: bold;
}


.img-char{
    width: 100%;
    border:solid black 3px;
    border-radius:5%;
    margin-bottom:10px;

}

.img-char:hover{
    border-color:var(--main-dialog-color);
}


#footer-main {
    width:100%;
    height:40px;
    line-height:40px;
    background-color:var(--main-dialog-color);
    color:rgb(94, 51, 51);
    text-align:center;
    font-weight: bold;
    bottom: 0;
    position: relative;
    
}

@media screen and (min-width:1280px){

    #container-intro{
        height:250px;
        width: 950px;
        padding:45px;
        font-size: 24px;

    }

    header{
        font-size:90px;
    }




}

@media screen and (max-width:1050px){

    .container-choice-interno{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height:50vh;
        
    
    }
       
}

@media screen and (max-width:700px){

    header{
        font-size:50px;
        margin-bottom: 60px;
    }

    .container-choice-interno{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height:fit-content;
        
    
    }

    footer{
        position: relative;
    }

    #container-intro{
        height:fit-content;
        width: 70vw;
        border:solid black 1px;
        margin:5% 0 0;
        padding:20px;
        text-align: center;
        box-shadow: 1px 1px 10px 2px black;
        border-radius:2px;
        background-color: var(--main-dialog-color);
        font-size:20px;
        color:rgb(94, 51, 51);   
    }

    

    
}




